<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Learning</title>
   <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>

    <h1>This is wish app: Greeting  According to the Local Time</h1>
    <h2>Current date : {{insert_date}}</h2>
    <h2>Message : {{insert_msg}}</h2>
    <!-- <img src="{% static 'images/closeup-scarlet-macaw-from-side-view-scarlet-macaw-closeup-head.jpg' %}" alt=""> -->

</body>
</html>